In [5]:
##IF Statements Find the Even Number
value =int(input("Enter the numbers>>>"))
if (value%2==0):
    print("Even Numbers")

Enter the numbers>>>6
Even Numbers

In [6]:
value =int(input("Enter the numbers>>>"))
if (value%2==0):
    print("Even Numbers")
else:
    print("Odd Numbers")

Enter the numbers>>>1
Odd Numbers

In [10]:
values =float(input("Enter the input>>>"))
if(values> 100):
    print("You Got the PC7")
elif (values>= 80 and values<=99):
    print("You Got PC6")
elif (values>=60 and values<=79):
    print("You Got PC5")
else:
    print("You Got PC1")

Enter the input>>>134
You Got the PC7

In [11]:
lst=[1,2,3,4,5,6]
for i in lst:
    print(i)

1
2
3
4
5
6

In [13]:
for i in range(10+1):
    print(f"Explore the range{i}")

Explore the range0
Explore the range1
Explore the range2
Explore the range3
Explore the range4
Explore the range5
Explore the range6
Explore the range7
Explore the range8
Explore the range9
Explore the range10

In [15]:
for i in range(50):
    if i%2==0:
        print(f"these is even {i}")
    else:
        print(f"these is odd {i}")

these is even 0
these is odd 1
these is even 2
these is odd 3
these is even 4
these is odd 5
these is even 6
these is odd 7
these is even 8
these is odd 9
these is even 10
these is odd 11
these is even 12
these is odd 13
these is even 14
these is odd 15
these is even 16
these is odd 17
these is even 18
these is odd 19
these is even 20
these is odd 21
these is even 22
these is odd 23
these is even 24
these is odd 25
these is even 26
these is odd 27
these is even 28
these is odd 29
these is even 30
these is odd 31
these is even 32
these is odd 33
these is even 34
these is odd 35
these is even 36
these is odd 37
these is even 38
these is odd 39
these is even 40
these is odd 41
these is even 42
these is odd 43
these is even 44
these is odd 45
these is even 46
these is odd 47
these is even 48
these is odd 49

In [ ]:
## <Make list through loop
lst= []
Values =int(input("Enter the loop Execution>>>"))
for i in range (Values):
    Val =input("Enter the Element name>>")
    lst.append(Val)

In [31]:
## Nested Loop
age =int(input("Enter the people age>>>"))
if (age<20):
    print("small Age")
    if (age>20):
        print("Middle age")
        if (age>50):
            print("Senior age")

Enter the people age>>>51

In [5]:
x=0
while(x<7):
    x=x+1
    if x>5:
        continue
    print(x)

1
2
3
4
5

In [8]:
import sys
print (sys.version)
print("Version info.")
print (sys.version_info)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=9, micro=13, releaselevel='final', serial=0)

In [11]:
import sys
print(sys.version)
print(sys.version_info)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=9, micro=13, releaselevel='final', serial=0)

In [22]:
import datetime
today =datetime.datetime.now()
print ("Current date and time : ")
print(today.strftime("%Y-%m-%d  %H:%M:%S"))

Current date and time :
2023-03-24  23:03:04

In [18]:
today

datetime.datetime(2023, 3, 24, 22, 59, 35, 292876)

In [26]:
import datetime
abc =datetime.datetime.now()
print("current date and time>>")
print(abc.strftime("%D-%M-%Y  %H-%M-%S"))

current date and time>>
03/24/23-06-2023  23-06-50

In [29]:
first_name =input("Enter the first name>>")
last_name =input("Enter the last name>>")
print(f"Hello {first_name} {last_name}")

Enter the first name>>Bhushan
Enter the last name>>Chopade
Hello Bhushan Chopade

In [33]:
import datetime
ip =datetime.datetime.now()
print(ip.strftime("%d-%M-%Y %H-%M"))

24-18-2023 23-18

In [34]:
List=['3', ' 5', ' 7', ' 23']
Tuple=('3', ' 5', ' 7', ' 23')

In [49]:
color_list = ["Red","Green","White" ,"Black"]
print("%s"%color_list[0],color_list[-1])

Red Black

In [1]:
from math import pi

In [13]:
r =float(input("Enter the radious of circle>>>"))
print(f"The area of circle is {r} and {pi*r**2}")

Enter the radious of circle>>>1.1
The area of circle is 1.1 and 3.8013271108436504

In [21]:
color_list = ["Red","Green","White" ,"Black"]
print("the perticular color list is--",color_list[0] , color_list[3])

the perticular color list is-- Red Black

In [25]:
exam_st_date = (11, 12, 2014)
print(f"The Examination will start from :%s/%s/%s"%(exam_st_date))

The Examination will start from :11/12/2014

In [34]:
#Write a Python program that accepts an integer (n) ani computes the value of n+nn+nnn.
a =int(input("Enter Value of N :"))
n1 =int("%i" %(a))
n2 =int("%i%i" %(a,a))
n3 =int("%i%i%i" %(a,a,a)) 
print(n1+n2+n3)

Enter Value of N :5
615

In [41]:
## Write a Python program that prints the calendar for a given month and year.
import calendar
y =int(input("Input the year :"))
m =int(input("Input the month :"))
print(calendar.month(y,m))

Input the year :2023
Input the month :7
     July 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [42]:
import seaborn as sns

In [44]:
df =sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [45]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [47]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [50]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [51]:
import pickle

In [52]:
filname ="file.pkl"

In [56]:
filname

'file.pkl'

In [55]:
pickle.dump(df,open(filname,"wb"))

In [57]:
df =pickle.load(open(filname,"rb"))
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [58]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [61]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [63]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [4]:
import pickle
disc_example ={"First_name":"Bhushan","Last_name":"Chopade"}

In [5]:
disc_example

{'First_name': 'Bhushan', 'Last_name': 'Chopade'}

In [6]:
pickle.dump(disc_example,open("test.pkl","wb"))

In [8]:
pickle.load(open("test.pkl","rb"))

{'First_name': 'Bhushan', 'Last_name': 'Chopade'}

In [13]:
def hello(name,age):
    print(f"Hello {name} you are {age} old")

In [14]:
hello("Bhushan",32)

Hello Bhushan you are 32 old

In [14]:
import pandas as pd
import numpy as np
data =np.arange(0,20).reshape(4,5)

In [15]:
data

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [17]:
df =pd.DataFrame(data,columns =["A","B","C","D","E"])
df

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [20]:
x, y = 3, 5
result = x * x + 2 * x * y + y * y
print("({} + {}) ^ 2) = {}".format(x, y, result))

(3 + 5) ^ 2) = 64

In [21]:
import platform
import os
print("Name of the operating system:",os.name)
print("\nName of the OS system:",platform.system())
print("\nVersion of the operating system:",platform.release())

Name of the operating system: nt

Name of the OS system: Windows

Version of the operating system: 10

In [22]:
os.name

'nt'

In [23]:
platform.system()

'Windows'

In [29]:
print(f"The Operating System is windows {platform.release()}")

The Operating System is windows 10

In [36]:
import struct
struct.calcsize("P")*8

64

In [38]:
os.name

'nt'

In [39]:
platform.architecture()

('64bit', 'WindowsPE')

In [44]:
def sum_of(x,y,z):
    if x==y or y==z or x==z:
        sum = 0
    else:
        sum=x+y+z
        return sum

In [49]:
print(sum_of(2,4,3))

9

In [51]:
x =int(input("Enter"))
y =int(input("Enter"))
z =int(input("Enter"))
if x==y or y==z or z==x:
    sum =0
    print(sum)
else:
    sum =x+y+z
    print(sum)

Enter1
Enter1
Enter3
0

In [59]:
import calendar
print(calendar.month(23,6))

      June 23
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

NameError: name 'theweek' is not defined