In [1]:
class car:
    pass
car1= car()
car2= car()

In [2]:
car1.engine =350
car1.windows =4
car1.tyre =4

In [3]:
car2.engine =250
car2.windows =6
car2.tyre =6

In [4]:
print(car1.engine)
print(car2.engine)

350
250

In [5]:
print(car1.windows)
print(car2.tyre)

4
6

In [6]:
print(dir(car1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'engine', 'tyre', 'windows']

In [7]:
class car():
    def __init__(self,windows,tyre,engine):
        self.windows =windows
        self.tyre =tyre
        self.engine =engine
        
car1 =car(4,10,"350CC")

In [34]:
car1.windows

4

In [16]:
print("The numbers of tyre to car is {}".format(car1.tyre))
print("The numbers of tyre to car is {}".format(car1.engine))
print("The numbers of tyre to car is {}".format(car1.windows))

The numbers of tyre to car is 10
The numbers of tyre to car is 350CC
The numbers of tyre to car is 4

In [19]:
car2=car("Light","thine","Bold")
print("The Car 2 is {}".format(car2.engine))
print("The Car 2 is {}".format(car2.tyre))
print("The Car 2 is {}".format(car2.windows))

The Car 2 is Bold
The Car 2 is thine
The Car 2 is Light

In [45]:
class cup():
    def __init__(self,tea,water,salt,pot):
        self.tea=tea
        self.water=water
        self.salt=salt
        self.pot =pot
    def bashi(self):
        print("the parameter of bashi {}".format(self.water))
        print("the parameter of bashi {}".format(self.salt))

In [46]:
cup1 =cup(10,20,30,40)
cup1.bashi()

the parameter of bashi 20
the parameter of bashi 30

In [24]:
cup1 =("10ml","200ml","1packet","100pot")
cup1

('10ml', '200ml', '1packet', '100pot')

In [92]:
class car:
    def __init__(self,handle,brake,engine):
        self.handle =handle
        self.brake =brake
        self.engine =engine
    def driving(self):
        print("It is self driving car")

In [91]:
class Audi(car):
    def __init__(self,handle,brake,engine,seats):
        super().__init__(handle,brake,engine)
        self.seats= seats
    def multicar(self):
        print("It is multipurpose car")

In [93]:
AudiQ7 =Audi(6,"round",2,20)

In [94]:
print(AudiQ7.handle)
print(AudiQ7.brake)
print(AudiQ7.engine)
print(AudiQ7.seats)
print(AudiQ7.handle)
AudiQ7.driving()
AudiQ7.multicar()

6
round
2
20
6
It is self driving car
It is multipurpose car

In [1]:
class Home:
    def __init__(self,Father,mother,sister,brother):
        self.Father =Father
        self.mother =mother
        self.sister =sister
        self.brother =brother

In [2]:
Home_members =Home("Dilip","Varsha","Pradnya","Bhushan")
print("My father name is {}".format(Home_members.Father))
print("My mother name is {}".format(Home_members.mother))
print("My sister name is {}".format(Home_members.sister))
print("My brother name is {}".format(Home_members.brother))

My father name is Dilip
My mother name is Varsha
My sister name is Pradnya
My brother name is Bhushan

In [8]:
class Home:
    def __init__(self,Father,mother,sister,brother):
        self.Father =Father
        self.mother =mother
        self.sister =sister
        self.brother =brother

In [12]:
class farm(Home):
    def __init__(self,Father,mother,sister,brother,Grandmother):
        super().__init__(Father,mother,sister,brother)
        self.Grandmother =Grandmother

In [13]:
Home1 =farm("Dilip","Varsha","Pradnya","Bhushan","Geeta")

In [17]:
print(Home1.Grandmother)
print(Home1.brother)
print(Home1.sister)

Geeta
Bhushan
Pradnya

In [25]:
class room:
    def __init__(self,parag,cot,laptop,water):
        self.parag =parag
        self.cot =cot
        self.laptop =laptop
        self.water =water
    def mirror(self):
        print("Mirror is static things")

In [21]:
room12 =room(23,20.3,15,100)
print(room12.parag)
print(room12.laptop)

23
15

In [48]:
class door(room):
    def __init__(self,parag,cot,laptop,water,mobile):
        super().__init__(parag,cot,laptop,water)
        self.mobile =mobile
    def __init__(self,parag,cot,laptop,water,mobile,dumbel,shoes):
        super().__init__(parag,cot,laptop,water)
        self.dumbel =dumbel
        self.shoes= shoes
    def bottle(self):
        print("Bottom is used for water storing")

In [49]:
bhushan=door("Boy",23,"dell",10,"samsung",12,40)

In [50]:
print(bhushan.dumbel)
print(bhushan.shoes)
print(bhushan.dumbel)
print(bhushan.parag)
bhushan.mirror()
bhushan.bottle()

12
40
12
Boy
Mirror is static things
Bottom is used for water storing

In [65]:
class hostel:
    def __init__(self,boys,rector,watchman):
        self.boys =boys
        self.rector =rector
        self.watchman =watchman
    def Management(self):
        print("Managements is run the hostel")

In [66]:
class room(hostel):
    def __init__(self,boys,rector,watchman,cot,tubelight):
        super().__init__(boys,rector,watchman)
        self.cot =cot
        self.tubelight =tubelight

In [72]:
bha =room(100,"Patil","Lalan",4,"White")

In [75]:
print(bha.boys)
print(bha.cot)
print(bha.tubelight)
bha.Management()

100
4
White
Managements is run the hostel

In [47]:
class a:
    def method(self):
        print("These class belongs to A")
    def method1(self):
        print("These class belongs to sub A")

In [48]:
class b(a):
    def method(self):
        print("These class belongs to B")
    def method1(self):
        print("These class belongs to sub B")

In [52]:
class c(a):
    def method(self):
        print("These class belongs to c")
    def method1(self):
        print("These class belongs to sub C")

In [53]:
c.method1(c)

These class belongs to sub C

In [51]:
b.method1(b)

These class belongs to sub B

In [41]:
c.method(w)

These class belongs to c

In [42]:
b.method(w)

These class belongs to B

In [43]:
a.method(w)

These class belongs to A

In [44]:
a.method1(a)

These class belongs to sub A

In [54]:
b.method(b)

These class belongs to B

In [61]:
class xyz:
    x=5
    y=10

In [64]:
obj =xyz()

In [65]:
obj.x

5

In [66]:
obj.y

10

In [1]:
class college:
    univercity ="SPPU"
    school ="VTU"
    Clg ="MIT"

In [3]:
a=college()
b=college()
c=college()

In [4]:
a.univercity

'SPPU'

In [5]:
a.school

'VTU'

In [6]:
a.Clg

'MIT'

In [7]:
class student:
    fname =""
    lname =""

In [11]:
bhush =student()

In [12]:
bhush.fname ="bhushan"
bhush.lname ="chaopde"

In [14]:
bhush.fname

'bhushan'

In [16]:
bhush.lname

'chaopde'

In [17]:
class student:
    f_name =input("Enter the first name>>")
    f_lname =input("Enter the last name>>")
    fname =f_name
    lname =f_lname

Enter the first name>>bhushan
Enter the last name>>Chopade

In [18]:
xyz =student()

In [19]:
xyz.fname

'bhushan'

In [20]:
xyz.lname

'Chopade'

In [27]:
print("The name of student is {} {}".format(xyz.fname,xyz.lname))

The name of student is bhushan Chopade

In [28]:
xyz.lname ="patil"

In [29]:
print("The name of student is {} {}".format(xyz.fname,xyz.lname))

The name of student is bhushan patil

In [31]:
class family:
    def __init__(self,fname,lname,company,country):
        self.fname =fname
        self.lname =lname
        self.company =company
        self.country =country

In [32]:
asd=family("Bhushan","Chopade","xyz","India")

In [34]:
print(asd.fname,asd.lname,asd.company,asd.country)

Bhushan Chopade xyz India

In [2]:
def greeting(firstname,lastname):
    print("My First name is {} & Last name is {}".format(firstname,lastname))
greeting("Bhushan","Chopade")

My First name is Bhushan & Last name is Chopade

In [4]:
def greeting(firstname,lastname):
    print(f"My first name is {firstname} and last name is {lastname}")
greeting("Bhushan","Chopade")

My first name is Bhushan and last name is Chopade

In [5]:
from abc import ABC

In [6]:
class car(ABC):
    def milage(self):
        pass

In [7]:
class suzuki(car):
    def milage(self):
        print("The milage of suzuki car is 30kmph")

In [8]:
class hynduai(car):
    def milage(self):
        print("The milage of hynduai car is 50kmph")

In [17]:
h =hynduai()
h.milage()

The milage of hynduai car is 50kmph

In [29]:
# How to used function In OOPS
def pune(place):
    print("The pune has {}".format(place))
pune("Shaniwarwada")

The pune has Shaniwarwada

In [2]:
#3.14r**2
from math import pi 
r = int(input("Enter the R Value>>"))
print("The formula of {}".format(pi*r**2))

Enter the R Value>>12
The formula of 452.3893421169302

In [9]:
import datetime
now =datetime.datetime.now()
print("The current date and Time :")
print(now.strftime("%d-%m-%Y %H-%M-%S"))

The current date and Time :
28-03-2023 22-09-31

In [14]:
import datetime
bhush =datetime.datetime.now()
print("The current date and time :")
print(bhush.strftime("%d-%m-%Y %H:%M:%S"))

The current date and time :
28-03-2023 22:13:16

In [15]:
fname =input("Enter the first name>>")
lname =input("Enter the last name>>")
print("Hello {} {}".format(lname,fname))

Enter the first name>>Bhushan
Enter the last name>>chopade
Hello chopade Bhushan

In [25]:
color_list = ["Red","Green","White" ,"Black"]
for i in color_list:
    if (i=="Red"):
        print(i)
        continue
    if (i=="Black"):
        print(i)

Red
Black

In [28]:
color_list = ["Red","Green","White" ,"Black"]
print(f"the color is {color_list[0]} {color_list[3]}")

the color is Red Black

In [30]:
exam_st_date = (11, 12, 2014)
print("The Exam date is : %s/%s/%s"%(exam_st_date))

The Exam date is : 11/12/2014

In [39]:
a =int(input("Enter the value>>"))
n1 =int("%s"%a)
n2 =int("%s%s"%(a,a))
n3 =int("%s%s%s"%(a,a,a))
print(n1+n2+n3)

Enter the value>>5
615

In [44]:
import calendar
y =int(input("Enter the year :"))
m =int(input("Enter the month :"))
print(calendar.month(y,m))

Enter the year :22
Enter the month :12
    December 22
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [72]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print("the differance between 2 Dates {}".format(delta.days))

the differance between 2 Dates 9

In [73]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [76]:
import datetime

In [79]:
abc =datetime.datetime.now()
print(abc.strftime("%d-%m-%y %H:%M:%S"))

29-03-23 00:15:17

In [8]:
#V = 4/3 × π × r3 
from math import pi
r =int(input("Enter the value of R>>"))
v = (4.0/0.3*pi*r**3)
print("The Value of V is {}".format(v))

Enter the value of R>>3
The Value of V is 1130.9733552923256

In [21]:
#Write a Python program to calculate the difference between a given number and 17.
#If the number is greater than 17, return twice the absolute difference
def diff(a):
    if a <= 17:
        return 17-a
    else:
        return (a-17)*2
print(diff(20))

6

In [24]:
val =int(input("Enter the Diff >>>"))
if (val <=17):
    print("The value is less than 17 is {}".format(17-val))
else:
    print("The value is greater than 17 is {}".format(val-17)*2)

Enter the Diff >>>25
The value is greater than 17 is 8The value is greater than 17 is 8

In [25]:
import calendar
y =int(input("Enter the year :"))
m =int(input("Enter the month :"))
print(calendar.month(y,m))

Enter the year :23
Enter the month :10
     October 23
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [30]:
# area of traingle =1/2*BH
B =float(input("Enter the base :"))
H =float(input("Enter the Height :")) 
area_of_traingle =1/2*B*H
print(f"The area of Traingle is {area_of_traingle}")

Enter the base :14.56
Enter the Height :34.12
The area of Traingle is 248.3936

In [44]:
#Write a Python program to test whether a number is within 100 of 1000 or 2000
def prog(a):
    if ((1000-a)<= 100) or ((2000-a)<= 100):
        print("The value is less than 100")

In [47]:
prog(800)

In [53]:
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(200))   
print(near_thousand(3000))

True
True
False
False

In [61]:
r =int(input("Enter the value >>"))
s =int(input("Enter the value >>"))
if ((1000 -r) <= 100) and ((2000-s) <=100):
    print("The Values are in between>>")

Enter the value >>1000
Enter the value >>800

In [69]:
##Write a Python program to calculate the sum of three given numbers. If the values are equal, 
#return three times their sum. Go to the editor
def three_no(x,y,z):
    sum =x+y+z
    if x==y==z:
        sum =sum*3
        return sum

In [72]:
print(three_no(1,1,3))

None

In [81]:
x =int(input("Enter the value>>"))
y =int(input("Enter the value>>"))
z =int(input("Enter the value>>"))
a =x+y+z
if x ==y==z:
    a =a*3
    print("The result is {}".format(a))

Enter the value>>2
Enter the value>>2
Enter the value>>2
The result is 18

In [3]:
def welcome(msg)->str:
    """
    Description: This function will show a welcome message
    

    Return : This function will return the welcome message 
    """



    return msg



msg=welcome("Welcome all")
print(msg + "Please subscribe")

Welcome allPlease subscribe

In [4]:
def hello(msg)->str:
    return msg

msg =hello("IS")
print(msg +"Array")

ISArray

In [9]:
msg =hello("AT")
print(msg  +" Station")

AT Station

In [14]:
##Write a Python program that determines whether a given number (accepted from the user) is even or odd,
##and prints an appropriate message to the user.
val =int(input("Enter the value :"))
if val %2 ==0:
    print("It is the Even number")
else:
    print("It is the odd number")

Enter the value :23
It is the odd number

In [18]:
def BT(value):
    if value %2 ==0:
        print("It is the Even number")
    else:
        print("It is the odd number")
        return

In [22]:
value =int(input("Enter the number :"))
BT(value)

Enter the number :45
It is the odd number

In [10]:
lst=[3,3,1,1,3,3]
count= 0
for i in lst:
    if i ==3:
        count =count+1
        print("the total count is {}".format(count))

the total count is 1
the total count is 2
the total count is 3
the total count is 4